@charset "utf-8";
/* CSS Document */
img {
    height: 256px;
    width: 256px;
    border: solid black;
    float: clear;
    border-color: tomato;
    border-width: thin;
}



/*
    div {
        border-style: dotted solid double;
        margin: 4%;
    }
*/


P {
    font-family: "Segoe UI",  Tahoma , sans-serif;
    font-size: 150%;
}



div.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    width:300px;
    border-style: dotted;
    background-color: red;
}



